.show-header {
    padding: 30px 0;
}

.ui.segment.image-segment {
    padding: 0;
    padding-bottom: 15px;
}

.ui.segment.image-segment img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-container {
    background-color: #fff;
    padding: 6 0px 0;
}

a.go-back {
    margin: 30px 0;
    font-size: 22px;
    display: inline-block;
}

.ui.vertical.pointing.inverted.menu.side-menu {
    width: 100%;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    border-radius: 5px;
    text-align: center !important;
}
